@import "../../../styles/vars.scss";

.tabs{
    &-list{
        &__item{
            z-index: 1;
            background-color: $write;
            
        }
        & .swiper-slide{
            z-index: 1;
            opacity: 0!important;
            transition: all 300ms;
          }
          & .swiper-slide.swiper-slide-active{
            z-index: 2;
            transition: all 300ms;
            opacity: 1!important;
          }
    }
    &_mgr{
        margin-right: 30px;
    }
    &-navigation{
        border-bottom: 2px solid $divider_light;
        margin-bottom: 44px;
        &__item{
            background-color: transparent;
            padding: 20px 0px;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            position: relative;
            display: inline;
            cursor: pointer;
            color: $tab_color;
            transition: color 300ms ease;
            &.tabs-slider{
                width: 100%; 
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 0px;
                    height: 2px;
                    background-color: $hover;
                    display: inline;
                    transition: transform 600ms ease;
                    transform: scaleX(0);
                }
                &.active{
                    color: $primary_text;
                    &::before{
                        width: 100%;
                        transform: scaleX(1);
                    }
                } 
            }

            &.tabs-default{
                &::before{
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0px;
                    width: 0px;
                    height: 2px;
                    background-color: $hover;
                    display: inline;
                    transition: width 300ms ease;
                }
                &.active{
                    color: $primary_text;
                    &::before{
                        width: 100%;
                    }
                }
            }
            
        }
    }
}

.tabs-navigation-swiper{
    @media screen and (min-width: 996px) {
        .swiper-wrapper{
            justify-content: center;
            .swiper-slide{
                text-align: center;
            }
        }
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 18px;
    }
    .swiper-wrapper{

        .swiper-slide{
            text-align: center;
            &::before{
                content: '';
                position: absolute;
                bottom: 0px;
                left: 0px;
                height: 0px;
                background-color: $gray_light;
                width: 100%;
            }
        }
    }
}